.chats {
    width: 100%;
    max-width: 700px;
    padding: 8rem;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chats::-webkit-scrollbar {
    display: none;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: .9rem;
    margin-bottom: 12px;
}

.gptDiv {
    text-align: left;
    font-size: .9rem;
    margin-bottom: 12px;
}

.userMessage {
    background: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: auto;
    max-width: 500px;
    width: fit-content;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}


@media(max-width:1024px) {

    .chats {
        max-width: 100%;
        padding: 4rem;
    }

    .userMessage {
        max-width: 80%;
    }

}

@media(max-width:768px) {

    .chats {
        padding: 2rem;
    }

    .userMessage {
        max-width: 90%;
    }

}